# Feature Selection

In [1]:
'''
process of finding best feature for ml model training known as feature selection it is part of Exploratory Data Analysis 
there are 4 type of Feature selections 
   1)Filter Method 
   2)Wrapper Method 
   3)Embded Method 
   4)PCA (priciple component analysis/featre extraction)
'''

'\nprocess of finding best feature for ml model training known as feature selection it is part of Exploratory Data Analysis \nthere are 4 type of Feature selections \n   1)Filter Method \n   2)Wrapper Method \n   3)Embded Method \n   4)PCA (priciple component analysis/featre extraction)\n'

In [2]:
'''
First we are discussing Filter Method which Filter features from our data set and find importance of that feature to train model 
using inferetial statistics 
1) Pearons's Correlation 
2) Chi2
3) ANOVA 
'''

"\nFirst we are discussing Filter Method which Filter features from our data set and find importance of that feature to train model \nusing inferetial statistics \n1) Pearons's Correlation \n2) Chi2\n3) ANOVA \n"

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [4]:
df=pd.read_csv("data/Automobile_data.csv")

In [5]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [7]:
#missing value treatments 
#null value treatments 
df["normalized-losses"].replace("?",np.nan,inplace=True)
df["normalized-losses"] = df["normalized-losses"].astype(float)
losses_mean = df["normalized-losses"].mean()
df["normalized-losses"].fillna(losses_mean,inplace=True)

In [8]:
df["horsepower"].replace("?",np.nan,inplace=True)
df["horsepower"] = df["horsepower"].astype(float)
horsepower_mean = df["horsepower"].mean()
df["horsepower"].fillna(horsepower_mean,inplace=True)

In [9]:
df_num = df.select_dtypes(["int64","float64"])
df_cat = df.select_dtypes("object")

In [10]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df_new = pd.concat([df_num,df_cat],axis=1)

# Chi2 Test

In [12]:
df_new

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,68.9,55.5,141,114.0,23,28,16845,21,1,3,2,0,3
201,-1,95.0,68.8,55.5,141,160.0,19,25,19045,21,1,3,2,0,3
202,-1,95.0,68.9,55.5,173,134.0,18,23,21485,21,1,3,2,0,5
203,-1,95.0,68.9,55.5,145,106.0,26,27,22470,21,0,3,2,0,3
204,-1,95.0,68.9,55.5,141,114.0,19,25,22625,21,1,3,2,0,3

In [13]:
df_new.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'price', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [14]:
# separate feature in x and target in y 
x=df_new.drop(["price","symboling"],axis=1) #features
y=df_new["price"] #target

In [15]:
x

,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
1,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
2,122.0,65.5,52.4,152,154.0,19,26,0,1,2,2,0,5
3,164.0,66.2,54.3,109,102.0,24,30,1,1,3,1,0,3
4,164.0,66.4,54.3,136,115.0,18,22,1,1,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,68.9,55.5,141,114.0,23,28,21,1,3,2,0,3
201,95.0,68.8,55.5,141,160.0,19,25,21,1,3,2,0,3
202,95.0,68.9,55.5,173,134.0,18,23,21,1,3,2,0,5
203,95.0,68.9,55.5,145,106.0,26,27,21,0,3,2,0,3
204,95.0,68.9,55.5,141,114.0,19,25,21,1,3,2,0,3

In [16]:
x.columns

Index(['normalized-losses', 'width', 'height', 'engine-size', 'horsepower',
       'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [17]:
y

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int64

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.3)

In [19]:
lr=LinearRegression()
lr.fit(x_train,y_train)
#r2 score is printed just to understand 
lr.score(x_test,y_test)

0.7964191853603928

In [20]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [58]:
#chi2 will not allow null values feature if its plz give absolute or remove that feature 
chi=SelectKBest(score_func=chi2,k=7)

In [59]:
x_train_f=chi.fit_transform(x_train,y_train)

In [60]:
x_test_f=chi.transform(x_test)

In [61]:
lin_chi=LinearRegression()

In [62]:
lin_chi.fit(x_train_f,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
lin_chi.score(x_test_f,y_test)

0.7653786179277893

In [64]:
lin_chi.coef_

array([ 2.68030049e+00,  1.35956705e+02, -1.89215434e+01,  3.63371343e+02,
       -6.09639694e+02, -1.54219982e+02,  1.43259835e+04])

In [65]:
lin_chi.intercept_

8793.157766727669

In [66]:
#list of feature support by chi
chi_support=chi.get_support()
chi_feature = x.loc[:,chi_support].columns.tolist()
print(chi_feature)

['normalized-losses', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'engine-location']

In [70]:
from sklearn.feature_selection import f_regression
anova=SelectKBest(score_func=f_regression,k=12)

In [71]:
x_train_f=anova.fit_transform(x_train,y_train)

In [72]:
x_test_f=anova.transform(x_test)

In [73]:
lin_anova=LinearRegression()

In [74]:
lin_anova.fit(x_train_f,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [75]:
lin_anova.score(x_test_f,y_test)

0.7912773188838516

In [76]:
#list of feature support by chi
anova_support=anova.get_support()
anova_feature = x.loc[:,anova_support].columns.tolist()
print(anova_feature)

['normalized-losses', 'width', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location', 'engine-type']

# Recursive feature eliminiation Wrapper

In [77]:
from sklearn.feature_selection import RFE
rfe = RFE(lin_anova, 11)
fit = rfe.fit(x_train_f,y_train)

In [78]:
# as per anova nad chi2 12 features are best to take into training 
#automatically it will take 12 best features for training
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

Num Features: 11
Selected Features: [False  True  True  True  True  True  True  True  True  True  True  True]
Feature Ranking: [2 1 1 1 1 1 1 1 1 1 1 1]

# Wrapper Method

In [36]:
'''
we have already used wrapper method when we start work with linear regression we all have make model 
with one feature and target 
TV vs ROI

later we add more feature like radio and newspapaer and again develop linear regression model 
this process is known as Wrapper process 
wrapper process have 3 categories 
1)Forward selection 
2)Backword selection 
3)recursive feature elimination 
'''

'\nwe have already used wrapper method when we start work with linear regression we all have make model \nwith one feature and target \nTV vs ROI\n\nlater we add more feature like radio and newspapaer and again develop linear regression model \nthis process is known as Wrapper process \nwrapper process have 3 categories \n1)Forward selection \n2)Backword selection \n3)recursive feature elimination \n'

# 1) Forward selection method

In [37]:
'''initially there will no features we will keep adding feature to develop 
machine model and we keep verifing score untill unless we are not getting satisfactory result '''

'initially there will no features we will keep adding feature to develop \nmachine model and we keep verifing score untill unless we are not getting satisfactory result '

In [38]:
def adjusted_r2(k,r2,n):
    adj_r2=1-(1-r2)*((n-1)/(n-(k+1)))
    return adj_r2
'''
1) r2 help use to check accuracy of our regression model 
2) Adjusted r 

Use adjusted R-squared to compare the goodness-of-fit for regression 
models that contain differing numbers of independent variables. '''

In [39]:
x

,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
1,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
2,122.0,65.5,52.4,152,154.0,19,26,0,1,2,2,0,5
3,164.0,66.2,54.3,109,102.0,24,30,1,1,3,1,0,3
4,164.0,66.4,54.3,136,115.0,18,22,1,1,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,68.9,55.5,141,114.0,23,28,21,1,3,2,0,3
201,95.0,68.8,55.5,141,160.0,19,25,21,1,3,2,0,3
202,95.0,68.9,55.5,173,134.0,18,23,21,1,3,2,0,5
203,95.0,68.9,55.5,145,106.0,26,27,21,0,3,2,0,3
204,95.0,68.9,55.5,141,114.0,19,25,21,1,3,2,0,3

In [42]:
columns=[]
i=1
for col in x:
    columns.append(col)
    
    x_new=df[columns]
    
    X_train,X_test,y_train,y_test = train_test_split(x_new,y,test_size=0.3,random_state=1)
    
    lin = LinearRegression()
    
    lin.fit(X_train,y_train)
    
    r2 = lin.score(X_test,y_test)
    
    n = len(X_test)
    
    adj_r2 = adjusted_r2(i,r2,n)
    
    print("iteration: ",i,"r2 score: ",r2,"adjusted r2: ",adj_r2)
    
    i += 1

iteration:  1 r2 score:  -0.010390341040924733 adjusted r2:  -0.02723018005827349
iteration:  2 r2 score:  0.6250009070304243 adjusted r2:  0.6122890733704387
iteration:  3 r2 score:  0.6268261598180391 adjusted r2:  0.6075240646362136
iteration:  4 r2 score:  0.7603768873119695 adjusted r2:  0.7435612302812304
iteration:  5 r2 score:  0.7772901654989317 adjusted r2:  0.7574053588470506
iteration:  6 r2 score:  0.7791837923765499 adjusted r2:  0.7550947515449008
iteration:  7 r2 score:  0.7797441760172064 adjusted r2:  0.751192495130548

ValueError: could not convert string to float: 'plymouth'

# Backword wrapper method

In [41]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
normalized-losses    205 non-null float64
width                205 non-null float64
height               205 non-null float64
engine-size          205 non-null int64
horsepower           205 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
make                 205 non-null int32
fuel-type            205 non-null int32
body-style           205 non-null int32
drive-wheels         205 non-null int32
engine-location      205 non-null int32
engine-type          205 non-null int32
dtypes: float64(4), int32(6), int64(3)
memory usage: 16.1 KB

In [43]:
x["make"].value_counts()

19    32
12    18
8     17
5     13
11    13
18    12
20    12
13    11
21    11
4      9
9      8
2      8
14     7
1      7
17     6
15     5
6      4
3      3
0      3
7      3
16     2
10     1
Name: make, dtype: int64

# Embeded MEthods

In [ ]:
'''
given list of all algorithm of ml have feature selection technic at that time no need to do any kind of feature selection 
manually 

Ridge
Lasso 
Random Forest 
ensambling also provide build in facility of feature selection 

one more thing when we use keras and tensorflow in deep learning no need use feature selection 
'''